body{
  background-color: hsl(257, 40%, 49%);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.attribution{
  position: relative;
  text-align: end;
  bottom: 30px;
  font-size: .6em;
  margin-right: 20px;
  margin-bottom: 0;
}

#bg-img1{
  position: absolute;
  bottom: 0;
  width: auto;
  height: 100%;
  display: block;
}

#bg-img2{
  display: none;
}

.btn-icon{
  color: white;
  border-radius: 100%;
  border-color: white;
  padding: 5px 10px;
}

.button{
  border-radius: 25px;
  padding: 10px 60px;
  color: hsl(257, 40%, 49%);
  /* font-family: 'Poppins', sans-serif; */
  /* font-weight: 300; */
}

.content-box{
  margin: 5% 2%;
}

.content{
  padding-right: 10px;
  margin-top: 35px;
  margin-bottom: 50px;
}

.heading{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size:2.5em;
  line-height: 1.3;
  text-align: left;
  margin-left: 0;
  width: 85%;
}

.icons{
  position: absolute;
  right: 6%;
  bottom: 8%;
}

.mockup-image{
  padding-top: 7px;
  width: 100%;
  height: auto;
}

.logo{
  width: 12%;
  margin-left: 4%;
  margin-top: 3%;
}

.text{
  margin-top: 15px;
  text-align: justify;
  font-size: 1.2em;
  font-weight: 400;
}

/* for small sized devices - mediums*/
@media /*(min-width: 375px) and*/ (max-width: 980px){
  .attribution{
    text-align: center;
  }

  #bg-img2{
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
  }

  #bg-img1{
    display: none;
  }

  .logo{
    width: 25%;
    margin-top: 11%;
    margin-left: 17%;
  }

  .content-box{
    margin: 15% 2%;
  }

  .mockup-image{
    padding: 8px;
    width: 100%;
    height: auto;
  }

  .content, p, .heading{
    text-align: center;
  }

  .heading{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin-left: 0;
    line-height: 1.3;
    font-size:2em;
    font-weight: 400;
  }

  .content{
    margin-top: 80px;
    padding-right: 0;
  }

  .text{
    width: 90%;
    margin: auto auto 35px;
  }

  .button{
    padding: 8px 80px;
  }

  .icons{
    position: relative;
    text-align: center;
    right: auto;
    bottom: 50px;
    margin-bottom: 10px;
  }
}
